<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quản trị</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/admin/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/admin/libs/font-awesome/css/font-awesome.min.css">
    <!-- Toastr-->
    <link href="~/Assets/admin/libs/toastr/toastr.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/admin/libs/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/admin/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/admin/css/skins/_all-skins.min.css">
    <!-- Custom CSS -->
    <link href="~/Assets/admin/css/custom.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="datnguyenbookstore" ng-controller="rootController">
    <div ui-view></div>
    <!-- jQuery 3 -->
    <script src="~/Assets/admin/libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/admin/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/admin/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/admin/libs/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/admin/js/adminlte.min.js"></script>
    <!-- Begin embed angularJS for project -->
    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <!-- Angular UI router-->
    <script src="~/Assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- Toastr-->
    <script src="~/Assets/admin/libs/toastr/toastr.js"></script>
    <!-- Angular Spinner-->
    <script src="~/Assets/admin/libs/angular-spinners/dist/angular-spinners.js"></script>
    <!-- ngBootbox -->
    <script src="~/Assets/admin/libs/ngBootbox/dist/ngBootbox.js"></script>
    <!-- CKEditor-->
    <script src="~/Assets/admin/libs/ckeditor/ckeditor.js"></script>
    <!-- CKFinder-->
    <script src="~/Assets/admin/libs/ckfinder/ckfinder.js"></script>
    <!-- Bootbox -->
    <script src="~/Assets/admin/libs/bootbox/bootbox.js"></script>
    <!-- ngCKEditor-->
    <script src="~/Assets/admin/libs/ng-ckeditor/ng-ckeditor.js"></script>

    <!-- AngularJS Front-end-->
    <script src="~/SPA/shared/module/datnguyenbookstore.common.js"></script>
    <script src="~/SPA/shared/services/apiService.js"></script>
    <script src="~/SPA/component/products/product.module.js"></script>
    <script src="~/SPA/shared/services/commonService.js"></script>
    <script src="~/SPA/component/product_categories/productCategories.module.js"></script>
    <script src="~/SPA/component/product_categories/productCategoryAddController.js"></script>
    <script src="~/SPA/component/product_categories/productCategoryEditController.js"></script>
    <script src="~/SPA/shared/directives/pagerDirective.js"></script>
    <script src="~/SPA/shared/services/notificationService.js"></script>
    <script src="~/SPA/shared/filter/statusFilter.js"></script>
    <script src="~/SPA/app.js"></script>
    <script src="~/SPA/component/product_categories/productCategoryListController.js"></script>
    <script src="~/SPA/component/products/productAddControlller.js"></script>
    <script src="~/SPA/component/products/productEditController.js"></script>
    <script src="~/SPA/component/products/productListController.js"></script>
    <script src="~/SPA/component/home/homeController.js"></script>
    <script src="~/SPA/component/login/loginController.js"></script>
    <script src="~/SPA/component/home/rootController.js"></script>
    <!-->ăn lol nhé</!-->


    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
    </script>
</body>
</html>
